body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0b0d;
  color: white;
}

/* NAVBAR */
.ps-navbar {
  background: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #1a1a1a;
}

.ps-logo-img {
  height: 25px;
  margin-right: 25px;
}

.ps-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.ps-left a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 14px;
}

.ps-left a:hover {
  color: white;
}

.signin-btn {
  background: #0070d1;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.panel {
  background: #141414;
  border-radius: 16px;
  padding: 20px;
}

/* PROFILE */
.profile-top {
  text-align: center;
}

.profile-avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* RECENT GAMES */
.games-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.games-row img {
  width: 60px;
  border-radius: 8px;
}

/* FRIENDS */
.friend-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.friend-card img {
  width: 40px;
  border-radius: 50%;
}

.friend-name {
  display: block;
  font-weight: bold;
}

.friend-activity {
  font-size: 12px;
  color: #9a9a9a;
}

.friend-level {
  font-size: 12px;
  color: #9a9a9a;
}

/* POSTS */
.post-card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 15px;
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-header img {
  width: 45px;
  border-radius: 50%;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #9a9a9a;
}
.voice-room {
  background: #1c1c1c;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.voice-room:hover {
  background: #252525;
}

.voice-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.voice-left img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  object-fit: cover;
}
.active-dot {
  width: 10px;
  height: 10px;
  background: #00c853;
  border-radius: 50%;
}